<a href="https://colab.research.google.com/github/leticiagomescs/Codenation-AceleraDev-DataScience/blob/master/Desafio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Desafio 2 - Conhecendo melhor nossa base de consumidores

 **Qual estado possui os clientes com melhores pontuações de crédito?**

## Detalhes


A resposta deve conter os valores da média, mediana, moda e desvio padrão da pontuação de crédito para cada estado do dataset. O arquivo para submissão deve estar em formato json, conforme o arquivo exemplo “submission.json”.

OBSERVAÇÃO: É recomendado utilizar Python e pandas para esse desafio, mas também é possível utilizar outras ferramentas e linguagens de programação.

Descrição dos dados: ‘id’: Identificador do cliente ‘sobrenome’: Sobrenome do cliente ‘pontuacao_credito’: Pontuação de crédito do cliente (quanto maior, melhor o cliente geralmente) ‘estado_residencia’: Estado de residência do cliente ‘genero’: Gênero do cliente ‘nivel_estabilidade’: Nível de estabilidade do cliente ‘saldo_conta’: Saldo disponível na conta do cliente ‘numero_produtos’: Número de produtos que o cliente consome ‘possui_cartao_de_credito’: Possui um cartão de crédito cadastrado ‘membro_ativo’: Membro acessa e consome frequentemente

Obs: Os dados são fictícios, mas tentam representar a realidade de uma base de clientes de um produto SaaS.

## Objetivo

Queremos conhecer melhor nossos clientes por estado. Para isso, iniciamos uma análise na pontuação de crédito. Para realizar a verificação inicial, precisamos de alguns valores. 

Os que precisamos encontrar derivados da pontuação de crédito são:

- média;
- mediana; 
- moda;
- desvio padrão.

## Importando as bibliotecas

In [0]:
import pandas as pd

## Importando o dataset

In [0]:
df = pd.read_csv('desafio1.csv')

## Exploração de dados

In [161]:
df.head()

   RowNumber  ... membro_ativo
0          1  ...            1
1          2  ...            1
2          3  ...            0
3          4  ...            0
4          5  ...            1

[5 rows x 12 columns]

In [162]:
df.columns

Index(['RowNumber', 'id', 'sobrenome', 'pontuacao_credito',
       'estado_residencia', 'genero', 'idade', 'nivel_estabilidade',
       'saldo_conta', 'numero_produtos', 'possui_cartao_de_credito',
       'membro_ativo'],
      dtype='object')

In [163]:
df.shape

(7000, 12)

In [164]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7000 entries, 0 to 6999
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   RowNumber                 7000 non-null   int64
 1   id                        7000 non-null   object
 2   sobrenome                 7000 non-null   object
 3   pontuacao_credito         7000 non-null   int64
 4   estado_residencia         7000 non-null   object
 5   genero                    7000 non-null   object
 6   idade                     7000 non-null   int64
 7   nivel_estabilidade        7000 non-null   int64
 8   saldo_conta               7000 non-null   float64
 9   numero_produtos           7000 non-null   int64
 10  possui_cartao_de_credito  7000 non-null   int64
 11  membro_ativo              7000 non-null   int64
dtypes: float64(1), int64(7), object(4)
memory usage: 656.4+ KB

## Análise Exploratória

In [165]:
df.describe()

         RowNumber  pontuacao_credito  ...  possui_cartao_de_credito  membro_ativo
count  7000.000000        7000.000000  ...               7000.000000   7000.000000
mean   3500.500000         649.787000  ...                  0.703286      0.512143
std    2020.870275          97.046279  ...                  0.456842      0.499888
min       1.000000         350.000000  ...                  0.000000      0.000000
25%    1750.750000         582.000000  ...                  0.000000      0.000000
50%    3500.500000         651.000000  ...                  1.000000      1.000000
75%    5250.250000         717.000000  ...                  1.000000      1.000000
max    7000.000000         850.000000  ...                  1.000000      1.000000

[8 rows x 8 columns]

In [166]:
df['estado_residencia'].nunique()

3

In [167]:
df['estado_residencia'].value_counts()

SC    3519
RS    1750
PR    1731
Name: estado_residencia, dtype: int64

### Média

In [168]:
media = df.groupby('estado_residencia')['pontuacao_credito'].mean()
media

estado_residencia
PR    648.961294
RS    651.105143
SC    649.537653
Name: pontuacao_credito, dtype: float64

### Mediana

In [169]:
mediana = df.groupby('estado_residencia')['pontuacao_credito'].median().sort_values( ascending=False)
mediana

estado_residencia
SC    653
RS    650
PR    650
Name: pontuacao_credito, dtype: int64

### Moda

In [170]:
# Moda
moda = df.groupby('estado_residencia')['pontuacao_credito'].agg(pd.Series.mode)
moda

estado_residencia
PR    850
RS    850
SC    850
Name: pontuacao_credito, dtype: int64

### Desvio padrão

In [171]:
desvio_padrao = df.groupby('estado_residencia')['pontuacao_credito'].std()
desvio_padrao

estado_residencia
PR    98.607186
RS    95.136598
SC    97.233493
Name: pontuacao_credito, dtype: float64

## Submissão

In [172]:
submission = {
    state: {
        'media': media[state],
        'mediana': mediana[state],
        'moda': moda[state],
        'desvio_padrao': desvio_padrao[state]
    } for state in mediana.index
}
submission

{'PR': {'desvio_padrao': 98.60718591309755,
  'media': 648.9612940496822,
  'mediana': 650,
  'moda': 850},
 'RS': {'desvio_padrao': 95.1365984138358,
  'media': 651.1051428571428,
  'mediana': 650,
  'moda': 850},
 'SC': {'desvio_padrao': 97.23349279343314,
  'media': 649.5376527422563,
  'mediana': 653,
  'moda': 850}}

In [173]:
submission = pd.DataFrame(submission)
submission

                       SC          RS          PR
media          649.537653  651.105143  648.961294
mediana        653.000000  650.000000  650.000000
moda           850.000000  850.000000  850.000000
desvio_padrao   97.233493   95.136598   98.607186

In [0]:
submission.to_json('submission.json',orient='columns')

In [175]:
resp = pd.read_json('submission.json')
resp

                       SC          RS          PR
media          649.537653  651.105143  648.961294
mediana        653.000000  650.000000  650.000000
moda           850.000000  850.000000  850.000000
desvio_padrao   97.233493   95.136598   98.607186